.App {
  height: auto;
  width: 100%;
  max-width: 1370px;
  padding: 0 5%;
  background-color: transparent;
}
@media screen and (max-width: 840px) {
  .App {
    padding: 0 5%;
    background-color: blue;
  }
}
@media screen and (max-width: 400px) {
  .App {
    padding: 0 2%;
    background-color: green;
  }
}
